* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
}

.loading-container {
  align-items: center;
  color: coral;
  display: flex;
  font-size: 36px;
  height: 100vh;
  justify-content: center;
}

.top-bar {
  background: #333;
  color: #fff;
  font-size: 24px;
  padding: 16px;
}

.btn {
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 24px;
  outline: none;
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  transition: all 0.5s;
}

.btn:hover {
  color: coral;
  opacity: 0.9;
}

.page-info {
  border-bottom: 1px solid #ffffff;
  margin-left: 16px;
}

.error {
  background: #d44c4c;
  color: #fff;
  padding: 16px;
}

canvas {
  border: 1px solid #cccccc;
  margin: 20px;
}
